<a name="top"></a>
        <header class=" bg-gray-700 border-bottom border-5 border-yellow d-print-none ps-1 pe-1">
            <nav class="navbar flex-row sticky-top navbar-expand-sm navbar bg-gray-700 text-light navbar-dark ">
        <div class="container-fluid">
                <div class="navbar-brand">
                    <img class="img-fluid" src="/assets/images/logo.png" style="max-width:50px;" />&nbsp; {{site.Title}}
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light navbar-dark "></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
						<li class='navbar-item'>
							<a class='nav-link btn btn-outline-gray-700 bg-gray-700 text-white fw-bold text-light navbar-dark  active fw-bold'  aria-current='true' href='index.html' >Home</a>
						</li>
                    </ul>
                </div>
            </div>
        </nav>
        </header>
        <main role="main" class="container-fluid ps-3 pe-3 pt-0 mb-3 lh-1 bg-white text-dark">